.header {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__jumbotron {
    margin-left: 30px;
    color: #fff;

    .head1 {
      text-shadow: 2px 2px rgba(0,0,0,0.1);
    }

    .head4 {
      text-shadow: 2px 2px rgba(0,0,0,0.1);
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  opacity: .8;
  overflow: hidden;

  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
