.nav {
  position: absolute;
  display: flex;
  height: 100px;
  justify-content: space-between;
  z-index: 1;
  //background-color: rgba(255,255,255,0.5);

  &__logo {
    z-index: 2;
    overflow: hidden;
  }
}

.logo {
  margin-left: 70px;
  width: 300px;
  height: 300px;
}
